.TodoHide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  font-size: var(--font-size);
  color: var(--text-color);
  border-style: none;
  transition: all 0.5s ease;
}

.TodoHide:hover {
  color: var(--color-primary);
}

.Icon-hide {
  margin-left: 0.5rem;
}
