.Header {
  font-size: 8rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    0deg,
    hsl(307deg 69% 34%) 0%,
    hsl(330deg 71% 47%) 20%,
    hsl(351deg 86% 61%) 42%,
    hsl(15deg 100% 65%) 67%,
    hsl(34deg 100% 61%) 86%,
    hsl(48deg 100% 62%) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
}
